body {
    margin: 0;
    font-family: 'Shantell Sans', cursive, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #F4EEED;
}
a {
    color: #000;
}
.header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,.1);
    z-index: 1;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
.header li {
    float: left;
}
.header li a {
    display: block;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #916859;
}
.header .logo {
    max-width: 65px; margin-left: 40px;
}

.header li a {
    padding: 25px 30px;
}
.header li a:hover{
    background-color: #f4f4f4;
}
.header li a.selected {
    background-color: #D8AC9C;
    color: #fff;
}
.header .menu {
    clear: none;
    float: right;
    max-height: none;
}
/* .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
} */
.top-segment {
    overflow:hidden;
    padding: 100px 100px 20px 100px;
    background-color: #999B84
}
.top-segment h3 {
    font-size: 40px;margin-top: 60px
}
.btn-container {
    margin-top: 50px;
}
.primary-btn-1 {
    color: #F4EEED;
    padding: 15px;
    text-decoration: none;
    background-color: #D8AC9C;
    margin-right: 10px;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
}

.primary-btn-2 {
    color: #916859;
    padding: 15px;
    text-decoration: none;
    background-color: #EFD9D1;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
}
.primary-btn-1:hover {
    background-color: #C48C7BFF;
}

.primary-btn-2:hover {
    background-color: #ffe6e0;
}
.top-segment .column img {
    border-radius: 25px;
    max-height: 400px;
    max-width: 100%;
}
.top-segment .column {
    width: 50%;
    float: left;
}
.top-segment .column p {
    width: 80%;
}
.top-segment .logo-sm {
    display: none;
}
.top-segment .column h4 {
    color: #F4EEED;
}
.middle-segment-top {
    background-color: #D8AC9C;padding: 25px 80px
}
.text-center {
    text-align: center;
}

.margin0 {
    margin: 0;
}

.top-segment .about-left.column {
    width: 70%;
    float: left;
}
.top-segment .about-right.column {
    width: 30%;
    float: left;
}


.middle-segment-bottom {
    overflow:hidden;
    padding: 20px 80px;
    background-color: #EFD9D1
}

.pull-left {
    float: left;
}
.middle-segment-bottom .column {
    width: 33%;
}
.middle-segment-bottom a {
    text-decoration: none;
}

.middle-segment-bottom a:hover p{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.middle-segment-bottom.about .column {
    width: 50%;
}
.middle-segment-bottom.recipes-l1 .column {
    width: 25%;
}

.middle-segment-bottom.recipes-l2 .column {
    width: 50%;
}
.card {
    padding: 10px;
    margin: 10px;
    border: 15px solid #D8AC9C
}

.cardText {
    color: #916859
}

.card img {
    max-width: 100%;
}
.footerSegment {
    background-color: #999B84;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
}

.footerSegment i {
    color: #EFD9D1;
}

.footerText {
    color: #D8AC9C;text-align: right
}
/*Contact form*/
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: #916859;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

textarea {
    height: 150px;
}

input[type=submit] {
    border: none;
    cursor: pointer;
}
.preparation .column {
    width: 25%;
}

.preparation .column img {
    max-width: 48px;
}
.about-left ul {
    list-style: none;
}

.about-left ul li::before {
    content: "\2022";
    color: #D8AC9C;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: x-large;
}

.about-left ul li{
    font-size: 16px;
}
@media screen and (max-width: 992px) {
    .top-segment, .middle-segment-bottom, .middle-segment-top {
        padding: 30px;
    }

    .top-segment .column img {
        margin-top: 70px;
    }

    .top-segment h3 {
        margin-top: 20px;
    }

    .banner-img {
        display: none;
    }

    .middle-segment-bottom .column {
        width: 50%;
    }

    .top-segment .column {
        width: 100%;
        text-align: center;
    }

    .header li {
        float: left;
        width: 25%;
    }

    .logo-anchor{
        display: none;
    }

    .header .menu {
        float: none;
    }

    .header .menu li {
        text-align: center;
    }

    .top-segment .logo-sm {
        width: 30%;
        display: initial;
    }

    .top-segment .column p {
        width: 100%;
    }

    .middle-segment-bottom.about .column {
        width: 100%;
    }

    .middle-segment-bottom.recipes-l1 .column {
        width: 50%;
    }

    .middle-segment-bottom.recipes-l2 .column {
        width: 50%;
    }

    .top-segment .about-left.column {
        width: 100%;
        float: left;
        margin-top: 45px;
    }

    .top-segment .about-right.column {
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .banner-img {
        display: none;
    }

    .btn-container {
        display: none;
    }

    .top-segment, .middle-segment-bottom, .middle-segment-top {
        padding: 20px;
    }

    .middle-segment-bottom .column {
        width: 100%;
    }

    .header li a {
        padding: 25px 10px;
    }

    .top-segment h3 {
        font-size: 25px;
    }
    .top-segment .column {
        width: 100%;
        text-align: center;
    }

    .top-segment .column img {
        margin-top: 70px;
    }

    .top-segment h3 {
        margin-top: 20px;
    }

    .header li {
        float: left;
        width: 25%;
    }

    .logo-anchor{
        display: none;
    }

    .header .menu {
        float: none;
    }

    .header .menu li {
        text-align: center;
    }

    .top-segment .logo-sm {
        width: 30%;
        display: initial;
    }

    .top-segment .column p {
        width: 100%;
    }

    .middle-segment-bottom.about .column {
        width: 100%;
    }

    .middle-segment-bottom.recipes-l1 .column {
        width: 50%;
    }

    .middle-segment-bottom.recipes-l2 .column {
        width: 50%;
    }

    .top-segment .about-left.column {
        width: 100%;
        float: left;
    }

    .top-segment .about-right.column {
        width: 100%;
        float: left;
    }
}

@media screen and (min-width: 600px) {
    .cardText {
        overflow: hidden;
        /* width: 100px; */
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
    }
}
