body {
    margin: 0;
    font-family: 'Shantell Sans', cursive, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #F4EEED;
}
a {
    color: #000;
}
.header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,.1);
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
.header li {
    float: left;
}
.header li a {
    display: block;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #916859;
}
.header .logo {
    max-width: 65px; margin-left: 40px;
}

.header li a {
    padding: 25px 30px;
}
.header li a:hover{
    background-color: #f4f4f4;
}
.header li a.selected {
    background-color: #D8AC9C;
    color: #fff;
}
.header .menu {
    clear: none;
    float: right;
    max-height: none;
}
.top-segment {
    overflow:hidden;
    padding: 100px;
    background-color: #999B84
}
.top-segment h3 {
    font-size: 40px;margin-top: 60px
}
.btn-container .primary-btn-1 {
    color: #F4EEED;
    padding: 15px;
    text-decoration: none;
    background-color: #D8AC9C;
    margin-right: 10px;
    display: inline-block;
}

.btn-container .primary-btn-2 {
    color: #916859;
    padding: 15px;
    text-decoration: none;
    background-color: #EFD9D1;
    display: inline-block;
}
.top-segment .column img {
    border-radius: 25px;
    max-height: 400px;
    max-width: 100%;
}
.top-segment .column {
    width: 50%;
    float: left;
}
.top-segment .column p {
    width: 80%;
}

.top-segment .column h4 {
    color: #F4EEED;
}
