body {
    margin: 0;
    font-family: 'Shantell Sans', cursive, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #F4EEED;
}
a {
    color: #000;
}
.header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,.1);
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
.header li {
    float: left;
}
.header li a {
    display: block;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #916859;
}
.header .logo {
    max-width: 65px; margin-left: 40px;
}

.header li a {
    padding: 25px 30px;
}
.header li a:hover{
    background-color: #f4f4f4;
}
.header li a.selected {
    background-color: #D8AC9C;
    color: #fff;
}
.header .menu {
    clear: none;
    float: right;
    max-height: none;
}
